﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <div>
        @* Header Menu *@
        <div class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <a href="/" class="navbar-brand">Mikud</a>
                    <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="navbar-collapse collapse" id="navbar-main">
                    <ul class="nav navbar-nav">
                        <li>
                            <a href="/">Home</a>
                        </li>
                        <li>
                            <a href="/Home/Add">Add New Worker</a>
                        </li>
                        <li>
                            <a href="/Home/Export">Export Workers</a>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#" target="_blank">Login</a></li>
                        <li><a href="#" target="_blank">Register</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container">
            @* Page Header *@
            <div class="page-header" id="banner">

            </div>
            @* Page Body *@
            <div class="page-body">
                <div class="row">
                    <div class="col-xs-12">
                        @RenderBody()
                    </div>
                </div>
            </div>
            @* Page Footer *@
            <footer>
                <div class="row">
                    <div class="col-xs-12">

                        <p>Made by <a href="#" rel="nofollow">Daniel Shwarcman</a>. Contact at <a href="mailto:dshwarcman@gmail.com">dshwarcman@gmail.com</a>.</p>

                    </div>
                </div>
            </footer>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>